<ion-view view-title="Movimiento">
  <ion-content>          
          <br>
          <div align="center">
            <button ng-click="GrabarSonido('parado')" class="button button-record icon ion-record">Parado</button>
          </div>          
          <br>

        
          <div align="center">          
            <button ng-click="GrabarSonido('izquierda')" class="button button-record icon ion-record">Izquierda</button>
          </div>
          <br>

          <div align="center">            
             <button ng-click="GrabarSonido('bocaarriba')" class="button button-record icon ion-record">Boca arriba</button>
          </div>
          <br>

          <div align="center">            
            <button  ng-click="GrabarSonido('derecha')" class="button button-record icon ion-record">Derecha</button>
          </div>
          <br>
                
          <div align="center">           
             <button ng-click="GrabarSonido('bocaabajo')" class="button button-record icon ion-record">Boca abajo</button>
          </div>          

  </ion-content>
</ion-view>
